## Assignment 1 Task 1

<strong>Name:</strong> Elroy Chua Ming Xuan </br>
<strong>UOW ID:</strong> 7431673
<strong>Data Set:</strong> Customer Churn Dataset
https://www.kaggle.com/datasets/muhammadshahidazeem/customer-churn-dataset

#### Step 1: Create one Pandas dataframe from the two CSV files
In order to merge the training and test data, first, we will load both data sets using Pandas, and then we will concatenate them into a single dataframe. Assume that we have two files, train.csv and test.csv, from the given link. Below is the Python code to perform this task.

In [33]:
#importing libraries
import pandas as pd
# Load the train_train_train_data
test_data = pd.read_csv('customer_churn_dataset-testing-master.csv')
train_data = pd.read_csv('customer_churn_dataset-training-master.csv')

# Concatenate the dataframes
df = pd.concat([test_data, train_data], ignore_index=True)

#Data
print("Data")
# Inspect the first few rows of the dataset
df.head()

# Identify missing values
print(df.isnull().sum())

Data
CustomerID           1
Age                  1
Gender               1
Tenure               1
Usage Frequency      1
Support Calls        1
Payment Delay        1
Subscription Type    1
Contract Length      1
Total Spend          1
Last Interaction     1
Churn                1
dtype: int64

#### Step 2: Once missing values are identified, remove the missing values from the dataset.
Missing data can be identified with the isna() function in Pandas (refer to previous cell). To clean missing values, we can use various imputation methods like mean, median, mode imputation, or more advanced techniques like using regression models. For this case we will use .dropna() to remove the missing values from the dataset as it is a row of missing values.

In [34]:
# If there are missing values, we drop them
df.dropna(inplace=True)
# Dropping the missing values
print("Check for missing values after dropping data")
print(df.isnull().sum())

Check for missing values after dropping data
CustomerID           0
Age                  0
Gender               0
Tenure               0
Usage Frequency      0
Support Calls        0
Payment Delay        0
Subscription Type    0
Contract Length      0
Total Spend          0
Last Interaction     0
Churn                0
dtype: int64

#### Step 3: Perform z-score normalization of the values in the attribute “Last Interaction”. Show the mean and variance of the normalized values
Z-score normalization is a scaling method that transforms the data into a distribution with a mean of 0 and a standard deviation of 1.

In [35]:
# Print the contents of the column Last Interaction:
# print(train_data["Last Interaction"])

# Get the mean value of the column
mean = df["Last Interaction"].mean()
print("Mean of values before normalisation: ", mean)

# Get the standard deviation of the column
std_dev = df["Last Interaction"].std()
print("Standard deviation of values: ", std_dev)

print()

# Perform z-score normalization on "Last Interaction", and add it to a new column
df["Last Interaction - Normalized "] = (
    df["Last Interaction"] - mean / std_dev)

# Get the mean and variance of the normalized data:
norm_mean = df["Last Interaction - Normalized "].mean()
norm_var = df["Last Interaction - Normalized "].var()

# print the stuff
print("Mean of normalized values: ", norm_mean)
print("Variance of normalized values: ", norm_var)

Mean of values before normalisation:  14.610580634434271
Standard deviation of values:  8.608286448795635

Mean of normalized values:  12.913311297343572
Variance of normalized values:  74.10259558451857

#### Step 4: Create five bins for the attribute “Total Spend” such that the bins contain (approximately) equivalent numbers of records.
We can use the qcut function from pandas which creates bins of equal size based on the quantiles of the data.

In [36]:
# Find the min and max values of Total Spend
print("Min value of total spend:", df["Total Spend"].min())
print("Max value of total spend:", df["Total Spend"].max())

Min value of total spend: 100.0
Max value of total spend: 1000.0

In [37]:
# Create bins
df['Total Spend Bins'] = pd.qcut(df['Total Spend'], 5, labels=range(1, 6))
# Check the bins
print(df['Total Spend Bins'].head())

0    3
1    3
2    4
3    1
4    2
Name: Total Spend Bins, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [41]:
df["Total Spend Bins"].value_counts()

Total Spend Bins
1    101271
4    101223
3    101069
2    100822
5    100821
Name: count, dtype: int64

#### Step 5: Apply one-hot-encoding to the attribute “Contract Length”.
One-hot encoding is a process of converting categorical data variables so they can be provided to machine learning algorithms to improve predictions. Pandas provides get_dummies function which is used to convert categorical variable into dummy/indicator variables.

In [42]:
# One-hot encoding
df = pd.concat(
    [df, pd.get_dummies(df['Contract Length'], prefix='Contract Length')], axis=1)
df = df.drop(columns="Contract Length")
# Check the new columns
print(df.columns)

Index(['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type', 'Total Spend',
       'Last Interaction', 'Churn', 'Last Interaction - Normalized ',
       'Total Spend Bins', 'Contract Length_Annual', 'Contract Length_Monthly',
       'Contract Length_Quarterly'],
      dtype='object')

#### Step 6: Define at least one new attribute based on existing attribute, and explain your reason behind your definition.

In [43]:
# Define the "Avg Usage Freq per Support Call" attribute
df['Avg Usage Freq per Support Call'] = df['Usage Frequency'] / df['Support Calls']

# Display the updated dataframe with the new attribute
df.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Total Spend,Last Interaction,Churn,Last Interaction - Normalized,Total Spend Bins,Contract Length_Annual,Contract Length_Monthly,Contract Length_Quarterly,Avg Usage Freq per Support Call
0,1.0,22.0,Female,25.0,14.0,4.0,27.0,Basic,598.0,9.0,1.0,7.302731,3,False,True,False,3.500000
1,2.0,41.0,Female,28.0,28.0,7.0,13.0,Standard,584.0,20.0,0.0,18.302731,3,False,True,False,4.000000
2,3.0,47.0,Male,27.0,10.0,2.0,29.0,Premium,757.0,21.0,0.0,19.302731,4,True,False,False,5.000000
3,4.0,35.0,Male,9.0,12.0,5.0,17.0,Premium,232.0,18.0,0.0,16.302731,1,False,False,True,2.400000
4,5.0,53.0,Female,58.0,24.0,9.0,2.0,Standard,533.0,18.0,0.0,16.302731,2,True,False,False,2.666667